@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");

body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  text-align: center;

  color: #000000;
}

.light {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 299;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
}

#flex-container {
  display: flex;
  flex: 2;
  max-width: 100%;

  margin-top: 100px;
  margin-left: 30px;

  min-height: 100vh;
}

.flex-item {
  flex: auto;

  align-items: center;
  justify-content: center;
}

#downloadWindows {
  position: fixed;
  top: 50%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}

#downloadLinux {
  position: fixed;
  top: 50%;
  left: 65%;
  margin-top: -50px;
  margin-left: -100px;
}

@media only screen and (max-width: 1100px) {
  #downloadLinux {
    position: fixed;
    top: 50%;
    left: 85%;
    margin-top: -50px;
    margin-left: -100px;
  }

  #downloadWindows {
    position: fixed;
    top: 50%;
    left: 32%;
    margin-top: -50px;
    margin-left: -100px;
  }

  .downloadText {
    font-size: 15px;
  }
}

.first-page-text {
  align-items: center;
  justify-content: center;
  max-width: 650px;

  font-size: 30px;
}

#searchBarDiv {
  max-width: 50%;
}

#catagory-feature {
  margin-top: 100;
}

#why {
  font-weight: 300;

  font-size: 7px;
  size: 7px;
  max-width: 50px;
  max-height: 100px;

  line-height: 10px;
  text-align: center;
}
